@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';


@custom-variant dark (&:is(.dark *));

:root {
  --background: lab(100% 0 0);
  --foreground: lab(2.75381% 0 0);
  --card: lab(100% 0 0);
  --card-foreground: lab(2.75381% 0 0);
  --popover: lab(100% 0 0);
  --popover-foreground: lab(2.75381% 0 0);
  --primary: lab(7.78201% -0.0000149012 0);
  --primary-foreground: lab(98.26% 0 0);
  --secondary: lab(96.52% -0.0000298023 0.0000119209);
  --secondary-foreground: lab(7.78201% -0.0000149012 0);
  --muted: lab(96.52% -0.0000298023 0.0000119209);
  --muted-foreground: lab(48.496% 0 0);
  --accent: lab(96.52% -0.0000298023 0.0000119209);
  --accent-foreground: lab(7.78201% -0.0000149012 0);
  --destructive: lab(48.4493% 77.4328 61.5452);
  --destructive-foreground: lab(96.4152% 3.22586 1.14673);
  --border: lab(90.952% 0 -0.0000119209);
  --input: lab(90.952% 0 -0.0000119209);
  --ring: lab(66.128% -0.0000298023 0.0000119209);
  --sidebar: lab(98.26% 0 0);
  --sidebar-foreground: lab(2.75381% 0 0);
  --sidebar-primary: lab(7.78201% -0.0000149012 0);
  --sidebar-primary-foreground: lab(98.26% 0 0);
  --sidebar-accent: lab(96.52% -0.0000298023 0.0000119209);
  --sidebar-accent-foreground: lab(7.78201% -0.0000149012 0);
  --sidebar-border: lab(90.952% 0 -0.0000119209);
  --sidebar-ring: lab(66.128% -0.0000298023 0.0000119209);
  --surface: lab(97.68% -0.0000298023 0.0000119209);
  --code-highlight: lab(95.36% 0 0);
  --code-number: lab(48.96% 0 0);
  --selection: lab(2.75381% 0 0);
  --selection-foreground: lab(100% 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.7 0.12 183);
  --primary-foreground: oklch(0.28 0.04 193);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.85 0.13 181);
  --chart-2: oklch(0.78 0.13 182);
  --chart-3: oklch(0.7 0.12 183);
  --chart-4: oklch(0.6 0.1 185);
  --chart-5: oklch(0.51 0.09 186);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.78 0.13 182);
  --sidebar-primary-foreground: oklch(0.28 0.04 193);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --font-sans: 'Nunito Sans Variable', sans-serif;
  --font-inter: 'Inter Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }

  .font-inter {
    font-family: var(--font-inter);
  }

  #printable-area img {
    -webkit-user-drag: none !important;
    -moz-user-drag: none !important;
    -ms-user-drag: none !important;
    -o-user-drag: none !important;
    user-drag: none !important;
    user-select: none !important;
  }
}

/* Print Styles */
@media print {
  body,
  html,
  #root {
    width: 100% !important;
    height: 100% !important;
    background: white !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: visible !important;
  }

  #app-container {
    height: unset !important;
  }

  /* Hide non-printable elements */
  .hidden-on-print {
    display: none !important;
  }

  /* Show and style printable area */
  #printable-area {
    display: block !important;
    width: 210mm !important;
    margin: 0 !important;
    padding: 0mm !important;
    background: white !important;
    box-shadow: none !important;
    position: static !important;

    /* page-break-after: always; */
    page-break-inside: avoid;

    zoom: 100% !important;
  }

  #printable-area > div {
    /* page-break-after: always;
    page-break-inside: avoid; */
  }

  /* Each A4 page */
  #printable-area > div > div {
    width: 210mm !important;
    height: 297mm !important;
    padding: 13mm !important;
    /* padding-left: 0mm !important;
    padding-right: 0mm !important; */
    margin: 0 !important;
    box-shadow: none !important;
    background: white !important;
    display: flex !important;
    justify-content: center !important;
    box-sizing: border-box !important;
    border: 0px !important;
  }

  #a4-preview-container {
    overflow: unset !important;
  }

  #a4-preview-container > div {
    padding: 0 !important;
  }

  #sidebar-panel, #divider-panel {
    display: none !important;
  }

  /* Page setup */
  @page {
    size: A4;
    /* margin narrow print  */
    margin: 0;
  }
}
